.card {
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;
  cursor: pointer;
  border-color: #533483 !important;
  background-color: #0d1b4b !important;
}

.card:hover {
  transform: scale(1.05);
  /* box-shadow: var(--mantine-shadow-md); */
  box-shadow: 0 4px 20px rgba(83, 52, 131, 0.4);
}
